{% extends "base.html" %}
{% block content %}
{% load bootstrap3 %}

<div class="align_center">
<h3 class="mt-4 mb-5 border-bottom">CONTACT FORM</h3>
</div>
<hr/>

<form action="" method="post">
	{% csrf_token %}
	{% bootstrap_form form layout='horizontal' %} 
      <div class="form-group row">
      <div class="offset-md-3 col-md-9">
      <div class="align_center">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </div>
      </div>
<form/>

{% endblock content %}

